body {
    text-align: center;
    font-family: Arial, sans-serif;
    /* background-color: #cce7ff;  */
    margin: 0;
    padding: 0;
  }

  .container {
    display: flex;
    justify-content: flex-end; /* Moves form to the right */
    align-items: center;
    background-color: whitesmoke;
    height: 100vh; /* Full viewport height */
    padding-right: 20px; /* Adjust right spacing */
  }

  .Teddy {
    height: 100%;
    /* width: 500%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* .signup-form { */
  /* position: absolute; */
  /* top: 247px; */
  /* left: 250px; */
  /* bottom: 0; */
  /* top: 50%;
    left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* background: rgba(255, 255, 255, 0.7); Semi-transparent white */
  /* padding: 20px 25px 20px 15px; */
  /* border-radius: 10px; */
  /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); */
  /* width: 200px; */
  /* } */
  .signup-form {
    position: relative;
    top: 250px;
    right: 125px;
    transform: translate(-50%, -50%);
    background: rgba(248, 93, 93, 0.7); /* Semi-transparent white */
    padding: 20px 20px 20px 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    width: 200px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 10px;
  }

  label {
    font-weight: bold;
    color: #940675;
  }

  input {
    padding: 10px; /* Increased input size */
    font-size: 1rem;
  }

  button {
    width: 100%;
    padding: 8px;
    background-color: #be04ec;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  .headingData {
    flex: 1; /* Takes up left space */
    text-align: left;
    padding-left: 50px;
  }

  .headingData h1 {
    color: #940675;
    font-size: 500%;
  }